# Archivos y directorios generados automáticamente
.DS_Store
bin/
lib/
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore xml_departamento_id_fecha.json
xml_departamento_id_fecha.json


# My tests
pdfs_range_01-2015
pdfs_range_08-2016 copy

xml_id_fecha_filtered_01-2015.json
xml_id_fecha_filtered_08-2012.json