# Archivos y directorios generados automáticamente
.DS_Store
bin/
lib/
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore xml_departamento_id_fecha.json
xml_departamento_id_fecha.json